<app-container>
    <header>
        <section class="cabecalho-link">
            <img src="../../../assets/imagens/logo.png" alt="">
        </section>
        <section class="cabecalho-contato">
            <img src="../../../assets/imagens/adicionar-contato.png" alt="">
            <h1>Adicionar contato</h1>
        </section>
    </header>

    <form [formGroup]="contatoForm">
        <label for="nome">Nome</label>
        <input 
        type="text"
        id="nome"
        placeholder="Digite o nome do contato"
        formControlName="nome"
        />
        
        <label for="telefone">Número</label>
        <input 
        type="text"
        id="telefone"
        placeholder="Digite o Telefone do contato"
        formControlName="telefone"
        />

        <label for="email">E-mail</label>
        <input 
        type="email"
        id="email"
        placeholder="Digite o e-mail do contato"
        formControlName="email"
        />

        <app-separador></app-separador>

        <label for="aniversario">Aniversário</label>
        <input 
        type="date"
        id="aniversario"
        placeholder="Data de nascimento"
        formControlName="aniversario"
        />

        <label for="redes">Redes Sociais</label>
        <div class="input-container">
            <span class="span-http">http://</span>
            <input
            type="url"
            id="redes"
            placeholder="Adicione a URL da página"
            formControlName="redes"
            />
        </div>

        <label for="nome">Observações</label>
        <textarea
            type="text"
            id="nome"
            placeholder="Coloque observações nesse espaço.  Exemplo: “Instrutora da academia “Nova Imagem”, amiga da Júlia”."
            formControlName="observacoes"
        ></textarea>

        <section class="botoes">
            <button class="botao-cancelar" type="button">Cancelar</button>
            <button class="botao-salvar" type="submit">Salvar contato</button>
        </section>
    </form>
</app-container>
