.container {
  background: #F8F9FA;
  border-radius: 16px;
  border: 1px solid #0D6EFD;
  width: 684px;
  max-width: 90%;
  margin: 80px auto;
  box-shadow: 0px 8px 16px 0px rgba(61, 139, 253, 0.15);
  padding: 56px 134px;
  gap: 10px;
  box-sizing: border-box;
}
    